<div class="main">
  {{> myAside }}

  <form>

  </form>

  <section class="friend-list">
    <form action="" method="post" class="add-friend">
      <div class="search-bar">
        <input class="search-imput" name="friendUsername" type="search" placeholder="Add Friend" aria-label="Search">
        <input type="text" name="userid" value="{{user.id}}" hidden>
        <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
      {{#if error }}
      <div class="error-message">{{ error }}</div>
      {{/if}}
    </form>
    <div class="friends">
      {{#each myUser.friends}}
      <div class="friend">
        <img src="{{this.imgPath}}" alt="">
        <p>{{this.username}}</p>

        <form action="/social/deleteFriend" method="post">
          <input type="text" name="friendId" value="{{this.id}}" hidden>
          <input type="text" name="friendName" value="{{this.username}}" hidden>
          <input class="delete-friend" type="submit" value="Delete">
        </form>
      </div>
      {{/each}}
    </div>
  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>