
<div class="reviews-block">

<div id="carouselExampleControls" class="carousel slide img-review" data-ride="carousel">
  <div class="carousel-inner">
    {{#each myReview.images}}
    <div class="carousel-item">
      <img class="d-block img-review" src="{{this.imgPath}}" alt="{{this.imgName}}">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{this.imgName}}</h1>
      </div>
    </div>
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="text-review">
<h1>
  {{myReview.title}}
</h1>
<h5>
  {{myReview.description}}
</h5>
</div>


</div>


<div class="comments">
  {{#each myReview.comments}}
  <div class="comment">
    <div class="author">
      <img class="comment-user-image" src="{{this.authorId.imgPath}}" alt="{{this.authorId.imgName}}">
      <p class="comment-user">{{this.authorId.username}}</p>
    </div>
    <p class="content-text">{{this.content}}</p>
  </div>
  
  {{/each}}
  
  <button class="add-comment" data-toggle="modal" data-target="#myModal">
    Add a comment
  </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/social/reviews/newComment" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Comment</h4>
        </div>
        <div class="modal-body">
          <textarea name="commentText" cols="30" rows="5"></textarea>
          <input type="hidden" name="postId" value="{{myReview.id}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Post Comment</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/review.js"></script>