<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="mysteries-block">
<h1 class="search-h1">Discover what's out there.</h1>
    
<form class="form-inline searchbar">
    <input class="search-imput" type="search" placeholder="Search Airport" aria-label="Search">

    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
  </form>


<div class="mysteries">
  {{#each trips}}
  {{#if this.tickets}}
  <div class="mystery" onclick="location.href='/trips/buy/{{this.id}}'">
    {{else}}
    
    <div class="mystery mysteryOff">
     
      
      {{/if}}
      
      <img class="mystery-img" src="/images/mystery-img.jpg" alt="">
      
      <h4>{{this.name}}</h4>
      
      {{#if this.tickets}}
      
      <p>{{this.tickets}} tickets left!</p>
      {{else}}
      <p>No tickets left...</p>
      {{/if}}
      <p>OR: {{this.from}}</p>
      <p>Depart: {{formatDate this.depart}} </p>
      <p>Return: {{formatDate this.return}} </p>
      <div class="stars">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <p>Price: {{this.price}}€ </p>
      
    </div>
    {{/each}}
  </div>
 
</div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/star.js"></script>